* {
  color: black;
}

.navbar {
  background: black;
  z-index: 1;
  opacity: 0;
}

.navbar a {
  color: white;
}

.navbar-fixed-top {
  position: fixed;
  left: 0;
  right: 0;
}

.full {
  transition: all 1.5s;
  opacity: 1;
}

.section .title {
  font-weight: 600;
  font-size: 4em;
}

.section .subtext {
  font-size: 1.5em;
  position: relative;
  left: 0;
}

#ship {
  transform: rotate(90, 50, 50);
}

.ship-container {
  position: relative;
  display: block;
  margin: auto;
  border: 3px solid black;
  width: 100vw;
  height: 100vh;
}

#ship-g {
  transform: translate(50vw, 50vh);
}

/*
.full {
  height: 100vh;
  width: 100vw;
}

.display {
  transition: all 1.5s;
  opacity: 0;
  margin-top: 6%;
  margin-left: 3%;
}

.title {
  margin-top: 2vh;
  font-size: 4em;
  font-weight: 500;
}

.subtext {
  margin-top: 16vh;
  font-size: 1.5em;
  font-weight: 250;
  position: absolute;
  width: 90%;
} */
